<h
<head>
  <title>Ninety-Nine Bottles</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>

 <h1>
 <%= @bottles %> of beer on the wall,
 <%= @bottles %> of beers on the wall...
 <h1/>

 <p>
 	<% @bottles.times do %>
 	<img src="/bottle.png">
 	<% end %>
 </p>

<a href="/refrain/<%= @bottles %>">Keep Singing</a>


</body>
</html>