<<<<<<< HEAD
 <h1>Edit <%= @muppet.name %></h1>
 <%= render 'form' %>
=======
<p><%= link_to 'Edit', edit_muppet_path(@muppet) %></p>

 <h1>Edit <%= @muppet.name %></h1>

 
>>>>>>> dfef7a4e96a47bea226ae97a9d5221b2b7f16d41
